.item_row {
  font-family: Arial, Helvetica, sans-serif;
  background: #e4e8ee;
  padding: 16px;
  margin-bottom: 18px;
  border-bottom: 6px solid #626871;
}

.item_image {
  border: 4px solid #ffffff;
}

.item_link {
  text-decoration: none;
  color: #080a0c;
}

.pull-left a {
  font-size: 12px;
}

time {
  font-size: 12px;
}

.media-heading {
  font-size: 36px;
}

.list_price {
  background: #983434;
  color: #ffffff;
  display: inline-block;
  font-weight: bold;
  padding: 6px;
  border-radius: 3px;
}